<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
</head>
<body>
    <div id="app">
        <h2>성공</h2>
        <ul>
            <li v-for="todo in todos" v-if="todo.isComplete">
                {{ todo.contents }}
            </li>
        </ul>
        <h2>아직</h2>
        <ul>
            <li v-for="todo in todos" v-if="!todo.isComplete">
                {{ todo.contents }}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                todos: [{
                    contents: 'Vue,js',
                    isComplete: true
                }, {
                    contents: 'javascript',
                    isComplete: false
                }, {
                    contents: 'shopping',
                    isComplete: false
                }]
            }
        })
    </script>
</body>
</html>